.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}


.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .corner {
    -fx-color:  #24919c;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow,
.table-view *.scroll-bar:vertical *.thumb{
    -fx-color:  #24919c;
}


.table-row-cell {
    -fx-background-color:  #24919c;
    -fx-text-fill: #e7e6e6;
}

.table-row-cell:selected {
    -fx-background-color: #1a6b73;
    -fx-text-fill:#e7e6e6;
}

.table-view *.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.table-view *.scroll-bar:vertical .increment-button ,
.table-view *.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.table-view *.scroll-bar .increment-arrow,
.table-view *.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
    -fx-background-color: transparent;
}

.table-view *.scroll-bar:vertical .increment-arrow,
.table-view *.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-color:  #1b7580;
}

.table-view *.scroll-bar:vertical .thumb{
    -fx-background-color :derive(#115057,20.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.table-view *.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#115057,10.0%);
}
.table-view .column-header .label {
    -fx-text-fill: #dedcdc;
    -fx-font-weight: bold;
}

.list-view .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.list-view .scroll-bar:vertical .track{
    -fx-background-color: #1b7580;
}
